
{% extends 'Notes/base.html' %}


{% block content %}
{% if user.is_authenticated %}
   <div class="row">
	<div class="col-md-6 m-4">
		<div class="card card-body">
            <div class=" m-1 text-end">
                    <a class=" btn btn-danger btn-sm"  href="{% url 'CatList' %}">BACK</i></a>
                 </div> 
            <div class="card-header badge bg-primary m-2">
                    <h5> Notes type </h5>
            </div>
                        <form action="" method="POST" >
                            {% csrf_token %}
                                 {{ form.as_p }}                      
                            <input class="btn btn-info" type="submit" name="submit">
                        </form>
        </div>
    </div>
</div>
{% else %}
    <div class="card">
        <div class="card-body">
                You are now allowed !
        </div>
    </div>
{% endif %} 
 
{% endblock content %}




